body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #5f0511; /* Темно-бордовий фон */
    margin: 0;
    padding: 0;
    color: #FFD700; /* Золотий колір тексту для контрасту */
}

h1 {
    color: #FFD700;
    margin: 20px;
}

#puzzle-container {
    display: flex;
    flex-wrap: wrap;
    width: 480px; /* Збільшуємо розмір пазлу */
    margin: 0 auto;
    border: 2px solid #ddd;
}

.puzzle-piece {
    width: 120px; /* Збільшуємо розмір шматків пазлу */
    height: 120px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-size: 480px 480px; /* Збільшуємо розмір фону */
    cursor: pointer;
}

.puzzle-piece.empty {
    background-color: #5f0511;
    border: 2px dashed #ddd;
}

#message-container {
    margin-top: 20px;
    position: relative;
}

#win-message {
    display: none;
    color: #FFD700;
    font-size: 24px;
    margin-top: 20px;
}

#confetti-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background: pink;
    transform: rotate(-45deg);
    animation: float 2s ease-in infinite;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: pink;
    border-radius: 50%;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    top: 0;
    left: -10px;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) rotate(-45deg);
        opacity: 0;
    }
}
